services:
  api:
    build:
      context: .
      dockerfile: DockerFile
    container_name: jwt_api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://postgres:password@db:5432/mydatabase
      DATABASE_url: postgresql://postgres:password@db:5432/mydatabase
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app

  db:
    image: postgres:16-alpine
    container_name: jwt_db
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d mydatabase"]
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
